NEXT_PUBLIC_BASE_URL=https://highlightsignal.com
NEXT_PUBLIC_HIGHLIGHT_PHP_API_BASE_URL=https://www.highlight.url.tw/highlightsignal
NEXT_PUBLIC_HIGHLIGHT_UPGRADE_URL=https://www.highlight.url.tw/shop/product.html?id=3
API_DOMAIN=https://www.highlight.url.tw
JWT_SECRET=replace-with-a-long-random-secret
